.auth-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 15%;
    width: 300px;
    text-align: center;
}

.main-text {
    margin-bottom: 20px;
}

.auth-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.auth-button {
    background-color: #346cb0;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.auth-button:hover {
    background-color: #30619f;
}

.toggle-link {
    margin-top: 10px;
    color: #6a11cb;
    cursor: pointer;
}

.error {
    color: red;
    margin: 10px 0;
}