.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #346cb0;
    padding: 10px 20px;
}

.navbar-brand {
    color: white;
    font-size: 24px;
    font-weight: bold;
    pointer-events: none;
}

.navbar-menu {
    list-style: none;
    display: flex;
}

.navbar-menu li {
    margin: 15px 15px 0px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.navbar-menu a:hover {
    background-color: #30619f;
    border-radius: 5px;
}

.navbar-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #346cb0;
        padding-bottom: 15px;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }
}
