:root {
  --ssize: 20px;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#view {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

svg.node-connection {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}

svg.node-connection > path {
  stroke: black;
  stroke-width: 2px;
}

.node {
  position: absolute;
  font-size: 2rem;
  cursor: default;
  border: 1px solid black;
  padding: 0.5rem;
}

.node.selected {
  border: 2px solid blue;
}

.node-connection-socket {
  width: var(--ssize);
  height: var(--ssize);
  background-color: rgb(99, 179, 192);
  border-radius: 50%;
  position: absolute;
  margin: auto;
  cursor: pointer;
  opacity: 0;
}

.node-connection-socket.connected {
  opacity: 1;
}

.node:hover > .node-connection-socket {
  opacity: 1;
}

.node.selected > .node-connection-socket {
  opacity: 1;
}

.node-connection-socket.up {
  top: calc(-1 * var(--ssize));
  left: 0;
  right: 0;
}

.node-connection-socket.down {
  bottom: calc(-1 * var(--ssize));
  left: 0;
  right: 0;
}

.node-connection-socket.left {
  top: 0;
  left: calc(-1 * var(--ssize));
  bottom: 0;
}

.node-connection-socket.right {
  top: 0;
  right: calc(-1 * var(--ssize));
  bottom: 0;
}
